.proposalTitle {
    font-weight: 550;
    font-size: 18;
    color: black;
}

.proposal {
    margin-top: 10px;
}

.eventDetailBtn {
    cursor: alias;
}

.approveEventBtn {
    cursor: alias;
}

.disapprovedEventBtn {
    cursor: alias;
}

.eventDetailBtn:hover {
    color: #FF7643 !important;
}

.approveEventBtn:hover {
    color: #FF7643 !important;
}

.disapprovedEventBtn:hover {
    color: #a1340c !important;
}