.avatar {
    float: right;
    margin: 12px 20px 0px 10px;
}

.userName {
    float: right;
    padding: 20px 0px 15px 0px;
}

.logo {
    height: 52px;
    width: 162px;
    margin: 16px;
    background: rgba(43, 42, 42, 0.2);
}

.createButton {
    margin-bottom: 15px;
}

// .createButton svg {
//     margin-bottom: 7px;
// }

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}

.editButton {
    color: white;
    background-color: #316B83 !important;
    box-shadow: 3px 4px 0px -1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 4px 0px -1px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 4px 0px -1px rgba(0, 0, 0, 0.24);
}

.editButton .fas {}

.deleteButton {
    color: white;
    background-color: #DE8971 !important;
    box-shadow: 3px 4px 0px -1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 4px 0px -1px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 4px 0px -1px rgba(0, 0, 0, 0.24);
}

.viewButton {
    color: white;
    background-color: #435560 !important;
    box-shadow: 3px 4px 0px -1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 4px 0px -1px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 4px 0px -1px rgba(0, 0, 0, 0.24);
}

.siderDashboard {
    border-style: solid;
    border-color: white #CECECE white white;
    border-width: 1px;
}

.country {
    margin-bottom: 5px;
}

.ant-message-notice-content svg {
    margin-top: -2px;
}