.avatar {
    float: right;
    margin: 12px 20px 0px 10px;
}

.userName {
    text-align: right;
    padding: 20px 0px 15px 0px;
}

.logo {
    height: 52px;
    width: 162px;
    margin: 16px;
    background: rgba(43, 42, 42, 0.2);
}

.createButton {
    width: 150px;
    margin-bottom: 15px;
}

.createButton svg {
    margin-bottom: 8px;
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}