.formDetail {
    background-color: white;
    padding: 30px 30px 25px 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    border-radius: 5px;
}

.formDetail Input {
    font-weight: 600
}

.ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
.ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
.ant-table-thead>tr:hover:not(.ant-table-expanded-row)>td,
.ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
    background: #D7E9F7;
    cursor: pointer; //Change the existing color to `unset`
}

